@{
    ViewBag.Title = "RetrospectiveGame";
    var char1 = Session["char1"] as Character;
    var char2 = Session["char2"] as Character;

}

<h2>RetrospectiveGame</h2>
<div id="characterStats" >
    @Html.Partial("_CharacterStats", char1)
    @Html.Partial("_CharacterStats", char2)
</div>



<form method="post" action="@Url.Action("BattleRound")"
      data-rg-target="#characterStats">
    <input type="submit" value="Start Battle!"/>
</form>